.content{
    padding-top: 0;
}

.sidebar .btn{
    border-radius: 0;
}

.sidebar {
    position: fixed;
    left: 0;
    height: 100%;
    font-size: 1.2rem;
    border-right: 2px solid #03045e;
}

.sidebar a{
    text-decoration: none;
}

.sidebar-heading{
    font-size: 1.2em;
}
.sidebar-heading:hover{
    background-color: #00b4d8;
    opacity: 0.8;
}

.sidebar-detail li{
    padding: 10px 0 10px 10px;
}

.sidebar-detail li:hover{
    background-color: #caf0f8;
}

.dashboard{
    margin-left: 16.666667%;
}

.dashboard .action a{
    text-decoration: none;
    color: #fff;
}

.pagination .page-link{
    color: #000;
}
